/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}
.card-2 img{
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-2 {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** header ***********/
header{
    height: 79px;
}
.main-Logo {
    display: flex;
}
.Logo img{
    height: 19px;
    width: auto;
    margin-top: 30px;
}
.LinkG{
    display: contents;
}
.Link1{
margin-left: auto;
margin-right: 68px;
}
.Link1{
    position: relative;
}
.Link2{
    position: relative;
}
.Link1::after{
    content: "";
    position: absolute;
    top: -15%;
    width: 100%;
    height: 2px;
    background-color: #0065FC;
    left: 0;
}
.Link2::after{
    content: "";
    position: absolute;
    top: -15%;
    width: 0%;
    height: 2px;
    background-color: #0065FC;
    left: 0;
}
.Link2:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0065FC;
    left: 0;
    transition: 0.3s;
}
.titre h1{
    font-size: 22px;
    margin: 0;
}
.titre p{
    height: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    size: 16px;
    margin-bottom: 2%;
}
/****** barre de recherche, filtre et info***********/
nav{
    display: flex;
padding: 0px 20px;
flex-direction: column;
align-items: flex-start;
gap: 35px;
align-self: stretch;
}
form{
    width: 371px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}
form .fa-location-dot {
    text-align: center;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 16px 19px;
}
form .fa-location-dot{
    color: #000000;
}
form .recherche{
    font-weight: 700;
    font-size: 18px;
    width: 147px;
    border: 0px;
    text-align: center;
    padding: 14px 18px;
    margin: -3px;
    outline: none;
}
form .envoyer {
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 13px 16px 13px 15px;
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
form .fa-magnifying-glass {
    border: 1px solid #0065FC;
    border-radius: 15px;
    padding:  15px 16px;
    background-color: #0065fc;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
form button{
    display: none;
}
.filtres i{
    color: #0065fc
}
.filtres button {
    background-color:white;
    border: 2px solid #d9d9d9;
    height: 50px;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    font-weight: 700;
    font-size: 17px;
}
.filtres button:hover{
    background-color: #DEEBFF;
}
.filtres{
    display: flex;
    gap: 15px;
    line-height: 50px;
    font-weight: 700;
    font-size: 18px;
}
.filtres p{
    margin-top: 0;
}
.Info{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 35px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.Hotel1{
    display: flex;
    flex-direction: row;
}
.Titre-hebergement{
    margin-left: 1.5%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 22px;
}
.Titre-hebergement2{
    margin-left: 1.5%;
    margin-bottom: 0%;
    font-size: 18px;
}

.Hotel1 .card {
    display: flex;
    margin-top: 33px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 30%;
    flex-direction: column;
}

.Hotel1 img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Hotel1 .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
}

.Hotel1 .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.Hotel1 .card-subtitle {
    margin: 0;
}

.Hotel1 .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activité ***********/
.card-2 {
    display: flex;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 22%;
    flex-direction: column;
}
.Titre-Activite {
    margin-left: 1.5%;
    margin-top: 65px;
    margin-bottom: 35px;
}
.card-title-A{
    font-size: 16px;
    margin-left: 16px;
}
.Activité img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.Activité-ligne {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
/****** footer ***********/
footer{
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    margin-top: 30px;
}
.APropos a{
    margin-bottom: 15px;
    height: 19px;
}
.APropos h2{
    margin: 0;
}
.APropos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
}
.NosHebergements{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
}
.NosHebergements a{
    margin-bottom: 15px;
    height: 19px;
}
.NosHebergements h2{
    margin: 0;
}
.Assistance{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
}
.Assistance a{
    margin-bottom: 15px;
    height: 19px;
}
.Assistance h2{
    margin: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres{
        flex-wrap: wrap;
    }
    .filtres p{
        height: 16px;
    }
    .break{
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 35px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    .card-2 img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30%;
    }
    .main-Logo{
        flex-direction: column;
    }
    .Logo{
        justify-content: center;
        display: flex;
        padding: 30px;
    }
    .LinkG{
        display: flex;

    }
    .Link1{
        margin-left: -30px;
        margin-right: 0;
    }
    .Link1::after{
        top: 35px;
        margin-left: -75px;
        padding-right: 110px;
    }
    .Link2{
        margin-left: 98px;
    }
    .Link2::after{
        background-color: #F2F2F2;
        width: 100%;
        top: 35px;
        padding-right: 128px;
        margin-left: -63px;
    }
    body{
        margin: 0;
    }
    .main-container{
        padding: 0;
    }
    form{
        width: 100%;
    }
    form .envoyer{
        display: none;
    }
    form button{
        position: relative;
        display: initial;
        background: white;
        border: 0;
        top: -3px;
        left: 15%;
    }
    .filtres{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .filtres div{
        display: grid;
    }
    .filtres button{
        text-align: start;
    }
    .Info p{
        margin-left: 10px;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires .hebergements{
        background-color: white;
    }
    .hebergements-and-populaires section{
        padding: 15px;
        border-radius: 0;
        width: 101.5%;
    }
    .populaires-cards{
        display: block;
    }
    .Hotel1{
        display: block;
    }
    .Hotel1 .card{
        width: 95%;
    }
    .Activité-ligne{
        flex-direction: column;
        width: 101.2%;
    }
    .Activité-ligne .card-2{
        width: 89.5%;
        margin: 15px 0px 0px 20px;
    }
    footer{
        flex-direction: column;
    }
    footer a{
        width: 250%;
    }
    footer h2{
        width: 250%;
    }

}
